body{
    background-image: url(/information-technology-background-yj5lntx9lzio3yiz.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 1000px;
    margin: auto;
}

p{
    color: steelblue;
}